{% extends "base.html" %}
{% import "_pages.html" as page %}

{% block content %}
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#">首页</a></li>
	  <li role="presentation"><a href="#">精华</a></li>
	  <li role="presentation"><a href="#">热门</a></li>
	  <li role="presentation"><a href="#">贡献</a></li>
	  <li role="presentation"><a href="#">标签</a></li>
	</ul>
	<br>
	{% if bookmarks%}
	<table class="table">
	<thead>
	  <tr>
		<th>标题</th>
		<th>分享人</th>
		<th>发布时间</th></tr>
	</thead>
	<tbody>
	{% for bookmark in bookmarks %}
	<tr class="active">
		<td><a href="{{bookmark.href}}">{{ bookmark.title }}</a></td>
		<td><a href="{{ url_for('user.users', username=bookmark.author.username) }}">{{ bookmark.author.username }}</a></td>
		<td>{{ moment(bookmark.timestamp).format('YYYY-MM-DD HH:mm') }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
	<div class="pagination">
	{{ page.pages(pagination, 'user.index') }}
	</div>
	{% endif %}
{% endblock %}
