<div class="item item_type_normal" id="{{ bookmark.id }}">
<div class="item_content">
	<a class="item_link start_articleview" href="{{bookmark.href}}" target="_blank"></a>
	<a class="title" href="{{bookmark.href}}">{{ bookmark.title }}</a>
	<span class="thumb" style="background-image: url(/static/image/direct.jpg)"> </span>
	<ul class="sub clearfix">
		<li class="original_url_container"><a class="original_url" href="{{ bookmark.href }}" target="_blank">{{ bookmark.href }}</a></li>
		<li class="tags">
			<span class="tag_container"></span>
			<a class="edit"><span>添加标记</span></a>
		</li>
	</ul>
	<div class="clear"></div>
	<ul class="buttons">
			<li class="action_delete" title="删除"><a href="#">删除</a></li>
			<li class="action_tag" title="编辑标记"><a href="#">编辑标记</a></li>
			<li class="action_favorite " title="标记为精华"><a href="#">标记为精华</a></li>
	</ul>
</div>
</div>
