<div >
	<div >
		<a href="{{bookmark.href}}">{{ bookmark.title }}</a>
		<a href="{{bookmark.href}}">原链接</a>
		<a class="btn btn-default btn-xs" href="#">精华</a>
	</div>

	<div >
		<a href="{{ url_for('user.users', username=bookmark.author.username) }}">{{ bookmark.author.username }}</a> |
		{{ moment(bookmark.timestamp).format('YYYY-MM-DD HH:mm') }} | 
		阅读数：<span class="badge">10</span> |
		
		{% if current_user == bookmark.author %}
		<button type="button" class="bmedit btn btn-default btn-xs" data-src="{{bookmark.id}}" onclick="showEditModal({{bookmark.id}})">编辑</button>
		<a class="btn btn-default btn-xs" href="{{ url_for('admin.delete_bookmark',id=bookmark.id) }}">删除</a>
		{% elif current_user.is_administrator() %}
		<button type="button" class="bmedit btn btn-warning btn-xs" data-src="{{bookmark.id}}" onclick="showEditModal({{bookmark.id}})">编辑</button>
		<a class="btn btn-warning btn-xs" href="{{ url_for('admin.delete_bookmark',id=bookmark.id) }}">删除</a>
		{% endif %}
	</div>
</div>
<hr>
