<!DOCTYPE html>
<html>
	<head>
        {% if title %}
		<title>{{ title }} - 书签</title>
        {% else %}
		<title>书签</title>
        {% endif %}
		{% block styles %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
		<meta charset="UTF-8">
		 {% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				<a class="navbar-brand" href="{{ url_for('user.index') }}">书签</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<!--<li><a href="#">我的列表</a></li>-->
						<!--<li><a href="#">热门</a></li>-->
						<!--<li><a href="#">发现</a></li>-->
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if current_user.is_authenticated %}
						<li>
							<a href="#" id="addarticle-menu" data-toggle="popover">
								<span class="glyphicon glyphicon-pencil"></span> 发布
							</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{{ current_user.username }} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="{{ url_for('user.users', username=current_user.username) }}">
										<span class="glyphicon glyphicon-user"></span> 个人中心</a>
								</li>
								<li>
									<a href="{{ url_for('auth.login') }}">
										<span class="glyphicon glyphicon-refresh"></span> 微信号</a>
								</li>
								{% if current_user.operation(Permission.ADMINISTER) %}
								<li class="divider">
								</li>
								<li>
									<a href="{{ url_for('admin.bookmarks') }}">
										<span class="glyphicon glyphicon-th-list"></span> 管理书签</a>
								</li>
								<li>
									<a href="{{ url_for('admin.users') }}">
										<span class="glyphicon glyphicon-cog"></span> 管理用户</a>
								</li>
								{% endif %}
								<li class="divider">
								</li>
								<li>
									<a href="{{ url_for('auth.logout') }}">
										<span class="glyphicon glyphicon-log-out"></span> 登出</a>
								</li>
							</ul>
						</li>
						{% else %}
						<li {% if title=='登录' %} class="active" {% endif %}>
							<a href="{{ url_for('auth.login') }}">
								<span class="glyphicon glyphicon-log-in"></span> 登录</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		<div class="container no-touch">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
				<div id="myAlert" class="alert alert-success">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					<strong>{{ message }}</strong>
				</div>
			{% endfor %}
			{% endif %}
			{% endwith %}
			
			<div class="main">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		
		<div id="footer">
			<div class="container text-center">
				<a href="#">关于本站</a> | 
				<a href="#">问题报告</a>  
			</div>
		</div>
		<div id="addarticle-content" class="hide">
		  <form class="form-inline" role="form">
			<div class="form-group"> 
			  <div class="input-group">
			  <input id="addarticle-url" type="text" class="form-control" placeholder="http://...">
			  <span class="input-group-btn">
				<button id="addarticle-btn" class="btn btn-default" type="button">保存</button>
			  </span>
			</div>
			</div>
		  </form>
		</div>
		{% block scripts %}
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>
		
		{{ moment.include_moment() }}
		{{ moment.lang("zh-CN") }}
		{% endblock %}
		<!-- Custom -->
		{% block extra_js %}{% endblock %}
	</body>
</html>
																											